.table {
  width: 600px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.header {
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
}
td {
  width: calc(100% / 3);
}

td,
tr,
th {
  border: 2px solid black;
  font-size: 24px;
}
.row {
  color: black;
}

.row:nth-child(odd) {
  background-color: white;
}

.row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.404);
}

.typeTransaction {
  text-transform: capitalize;
  text-align: start;
  padding-left: 50px;
}
